body{
    background-image: url('https://wallpapercave.com/wp/wp4555534.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.test{
    background-color: black;
}

.weather{
    text-align: center;
    color: white;
}