#body{
    background-color: #F5B041;
    background-repeat: no-repeat;
    background-size: auto;
}

.test{
    background-color: black;
}

.weather{
    text-align: center;
    color: white;
}

.nav{
    justify-content: center;
}

.text-color{
    color: #1F618D;
}